<div class="ingredient spacer">
    <div class="col-lg-10">
        <input type="text" class="form-control" id="name" placeholder="Enter the name of your ingredient.">
        <input type="text" class="form-control" id="url" placeholder="Optional: Enter URL link to ingredient">
    </div>
    <div class='col-lg-10'>
        <div class="container">
            <div class="row" id="ingredient-amount">
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="amount" placeholder="Enter amount of ingredient here.">
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="amountunit" placeholder="Enter amount unit here.">
                </div>
            </div>
        </div>
    </div>
</div>
