<div class="step">
    <div class="col-lg-10 spacer">
        <input type="text" class="form-control" id="instruction" placeholder="Enter the instruction for this step of the recipe.">
    </div>
    <div class="container">
        <div class="row" id="step-time">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="time" placeholder="Enter amount of time for this step.">
            </div>
            <div class="col-xs-3">
                <select class="form-control" id="timeunit">
                    <option>sec(s)</option>
                    <option>min(s)</option>
                    <option>hr(s)</option>
                    <option>day(s)</option>
                    <option>week(s)</option>
                </select>
            </div>
        </div>
    </div>
</div>
