<div class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand">Ricetta</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li id="login" class="login"><a href="javascript:void(0)">Login</a></li>
        </ul>
    </div>
</div>
<div class="jumbotron">
    <h3>Personal recipes, global curation. Ricetta is here.</h3>
    <p>Ricetta is the digital recipe app for the 21st century. This cloud recipe service makes it easy to keep a list of your own personal recipes and view globally curated recipes.</p>
    <p><a id="signup" class="btn btn-primary btn-lg">Sign up</a></p>
</div>
<div id="signupLoginArea" class="well page"></div>
<div id="curatorArea"></div>
