<div id="loginContainer">
  <form class="form-horizontal" method="post" action="/login" id="loginForm" role="form" novalidate="novalidate">
    <fieldset>
      <legend id="containerHeader">Log in</legend>

      <div class="form-group">
        <label for="handle" class="col-lg-2 control-label">Handle</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="handle" id="handle" placeholder="Enter handle">
        </div>
      </div>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" id="pass1" class="form-control" name="password" placeholder="Enter your password">
        </div>
      </div>
      <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary" id="login">Login</button>
          </div>
      </div>
      <div>
        <div id="makeNewAccount">
          <p id="existingUserForm">New to Ricetta?</p>
          <a class="btn btn-info" id="signup">Sign up</a>
        </div>
      </div>
    </fieldset>
  </form>
</div>
