<h1 class="header">{{title}}</h1>
<img id="recipe-image" src="{{image}}">
<p>{{notes}}</p>
<p><strong>Prep Time:</strong> {{preptime}} {{preptimeunit}}</p>
<p><strong>Cook Time:</strong> {{cooktime}} {{cooktimeunit}}</p>
<table class="table">
<thead>
    <tr>
        <th>Ingredient</th>
        <th>Amount</th>
    </tr>
</thead>
<tbody>
    {{#ingredients}}
    <tr>
        <td><a href="{{url}}">{{name}}</a></td>
        <td>{{amount}} {{amountunit}}</td>
    </tr>
    {{/ingredients}}
</tbody>
</table>
<h4>Steps</h4>
{{#steps}}
<p>{{id}}. {{instruction}} - {{time}} {{timeunit}}</p>
{{/steps}}
{{#tags}}
<span class="label label-primary">{{name}}</span>
{{/tags}}
